# Ignorar binarios y estados de Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignorar variables sensibles (Tokens de Meta)
*.tfvars

# Ignorar archivos del sistema y Python
__pycache__/
.DS_Store.terraform/
.DS_Store
*.tfstate
.terraform.lock.hcl
